[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pydotenv = "*"
flask-migrate = "*"
python-dotenv = "*"
pytest = "*"
webtest = "*"
faker = "*"
flask-login = "*"
flask-bcrypt = "*"
bcrypt = "*"
factory-boy = "*"
flask-wtf = "*"
email-validator = "*"
flask-meld = {editable = true, git = "https://github.com/Iionsroar/Flask-Meld.git"}
scikit-learn = "*"
joblib = "*"
pandas = "*"
numpy = "*"
pillow = "*"
flask-admin = "*"

[dev-packages]

[requires]
python_version = "3.9"
