[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pydotenv = "*"
flask-migrate = "*"
python-dotenv = "*"
pytest = "*"
webtest = "*"
faker = "*"
flask-login = "*"
flask-bcrypt = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
