<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap" rel="stylesheet">

    <title>Browse Feed</title>
</head>
<body>
    <!--Navigation Bar-->
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand navbar-logo">News Curation</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-lable="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center">
              <li><a href="signup.html" class="nav-link">Sign Up</a></li>
              <li><a href="login.html" class="nav-link">Log In</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <!--Header Image-->
    <img src="../static/header.png" class="header">

    <!--Contents-->
    <div class="content-container mx-auto p-5 shadow-sm">
        <!--post-->
        <div class="media p-5 mb-4 rounded shadow-sm">
          <!--user image and name-->
          <div class="d-flex align-items-center">
            <!--image-->
            <div class="me-2">
              <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="../static/seulgi.jpg" alt="Generic placeholder image">
            </div>
            <!--name and date-->
            <div>
              <h3 class="mt-0">Kang Seulgi</h3>
              <small>January 31, 2021</small>
            </div>
            <!--save-->
            <div class="ms-auto">
              <button type="button" class="btn btn-icon">
                <i class="fas fa-star icon-left"></i>
                <span>Save</span>
              </button>
            </div>
          </div>
          <!--end of user image and name-->
          <!--article content-->        
          <div class="media-body mt-3"> 
            <!--title-->
            <h5>Sample Article Title Here</h5>
            <!--content-->
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
          <!--end of article content-->
          <!--comment and rate-->
          <div class="d-flex">
            <!--comment-->
            <div class="me-auto">
              <button type="button" class="btn btn-icon">
                <i class="fas fa-ellipsis-h icon-left"></i>
                <span>0 Comments</span>
              </button>
            </div>
            <!--rate-->
            <div>
              <button type="button" class="btn btn-icon me-2">
                <i class="fas fa-arrow-up icon-left"></i>
                <span>0</span>
              </button>
              <button type="button" class="btn btn-icon">
                <i class="fas fa-arrow-down icon-left"></i>
                <span>0</span>
              </button>
            </div>
          </div>
          <!--end of comment and rate-->
        </div>
        <!--end of post-->

    <!--Bootstrap JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>