{% extends "layout.html" %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header_class %}
<!-- classname for small header -->
  header
{% endblock %}

{% block content %}
  <div class="content-container mx-auto p-5 shadow-sm">
  <article class="p-5 mb-4 rounded shadow-sm">
    <div class="media">
      <!--post header-->
      <div class="d-flex align-items-center">
        <div class="me-2">
          <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='profile_pics/' + post.author.profile_picture) }}" alt="Generic placeholder image">
        </div>
        <div>
          <h3 class="mt-0">{{ post.author.username }}</h3>
          <small>{{ post.created_at.strftime("%Y-%m-%d %H:%M") }}</small>
        </div>

        <!--dropdown menu-->
        <div class="dropdown ms-auto">
          <button class="btn btn-icon dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
            <!-- <a class="dropdown-item" type="button" href="{{ url_for('post.save_post', post_id=post.id, home='False') }}"><i class="fas fa-star icon-left me-2"></i>Save</a> -->
            
            <!-- save post -->
            {% if current_user not in post.saved_by %}
            <a class="dropdown-item" href="{{ url_for('post.save_post', post_id=post.id, home='False') }}"><i class="fas fa-star icon-left me-2"></i>Save</a>
            {% else %}
            <a class="dropdown-item text-primary" href="{{ url_for('post.remove_saved', post_id=post.id, home='False') }}"><i class="fas fa-star icon-left me-2"></i>Saved</a>
            {% endif %}

            <!-- update delete -->
            {% if post.author == current_user %}
            <a class="dropdown-item" href="{{ url_for('post.update_post', post_id=post.id) }}"><i class="fas fa-edit icon-left me-2"></i>Update</a>
            <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt icon-left me-2"></i>&nbsp;Delete</button>
            {% endif %}
          </div>
        </div>
      </div>
      <!--post content-->        
      <div class="media-body mt-3"> 
        <!--title-->
        <h5>{{ post.title }}</h5>
        <!--content-->
        <p>{{ post.content }}</p>
      </div>


      <!--post footer-->
      <div class="d-flex">
        <!--comment-->
        <div class="me-auto">
          <button type="button" class="btn btn-icon">
            <i class="fas fa-ellipsis-h icon-left"></i>
            <span>0 Comments</span>
          </button>
        </div>
        <!--rate-->
        <div>
          <a class="btn btn-icon me-2" href="{{ url_for('post.like_post', post_id=post.id, home='False') }}">
            {% if current_user not in post.liker %}
            <i class="fas fa-arrow-up icon-left"></i>
            <span>{{ post.liker|length }}</span>
            {% else %} <!-- if user likes -->
            <i class="fas fa-arrow-up icon-left text-primary"></i>
            <span class="text-primary">{{ post.liker|length }}</span>
            {% endif %}
          </a>
          <a class="btn btn-icon me-2" href="{{ url_for('post.dislike_post', post_id=post.id, home='False') }}">
            {% if current_user not in post.disliker %}
            <i class="fas fa-arrow-down icon-left"></i>
            <span>{{ post.disliker|length }}</span>
            {% else %} <!-- if user dislikes -->
            <i class="fas fa-arrow-down icon-left text-primary"></i>
            <span class="text-primary">{{ post.disliker|length }}</span>
            {% endif %}
          </a>
        </div>
      </div>

    </div>

    <!--comment section-->
    <div>

      <!--write a comment-->
      <div class="d-flex align-items-center">
        <div class="me-2">
          <img class="comment-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='default.jpg') }}" alt="Generic placeholder image">
        </div>
        <div class="rounded my-4" style="width: 100%;">
          <a href="{{ url_for('comment.add',post_id=post.id) }}" class="btn-create-post border border-2 rounded p-2 d-block" style="width: 100%;">Tell us your thoughts...</a>
          
        </div>
      </div>

      
      {% for comment in post.comments %}
        <div class="media">
          <div class="mt-4 align-items-center">
            <div class="d-flex ">
              <div class="me-2">
                <img class="comment-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='default.jpg') }}" alt="Generic placeholder image">
              </div>
              <div class="w-100">
                <h4 class="mt-0">{{ comment.author.first_name }} {{ comment.author.last_name}}</h4>
                <small>{{ comment.created_at }}</small>
                <!--comment content-->
                <div class="mt-2 text-break">
                  <p>{{ comment.content }}</p>
                </div>
                <div class="d-flex justify-content-end">
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      {% endfor %}

      

      </div>
      <!--end of sample comment-->

    </div>
  </article>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('post.delete_post', post_id=post.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
