{% extends "layout.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header_class %}
<!-- classname for small header -->
	header
{% endblock %}
{% block content %}
	<div class="content-container mx-auto p-5 shadow-sm">
    <!--create post-->
    <div class="media px-5 py-3 mb-4 rounded shadow-sm">
      <div class="d-flex align-items-center">
        <!--image-->
        <div class="me-2">
          {% if current_user.is_authenticated %}
          <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='profile_pics/' + current_user.profile_picture) }}" alt="Generic placeholder image">
          {% else %}
          <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Generic placeholder image">
          {% endif %}
        </div>
        <!--post bar-->
        <form action="{{ url_for('post.new_post') }}" class="w-100">
          <div class="my-4">
            <input type="submit" class="btn-create-post border border-2 rounded p-2" value="Create Post"/>
          </div>
        </form>    
      </div>  
    </div>

	{% for post in posts %}
		<article id="{{ post.id }}" class="media content-section p-5 mb-4 rounded shadow-sm">
        <!--user image and name-->
        <div class="d-flex align-items-center">
          <!--image-->
          <div class="me-2">
            <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='profile_pics/' + post.author.profile_picture) }}" alt="Generic placeholder image">
          </div>
          <!--name and date-->
          <div>
            <h3 class="mt-0">{{ post.author.username }}</h3>
            <small>{{ post.created_at.strftime("%Y-%m-%d %H:%M") }}</small>
          </div>
          <!--save-->
          <div class="ms-auto">
              {% if current_user not in post.saved_by %}
              <a class="btn btn-icon" href="{{ url_for('post.save_post', post_id=post.id, home='True') }}">
              <i class="fas fa-star icon-left"></i>
              <span>Save</span>
              {% else %}
              <a class="btn btn-icon" href="{{ url_for('post.remove_saved', post_id=post.id, home='True') }}">
              <i class="fas fa-star icon-left text-primary"></i>
              <span class="text-primary">Saved</span>
              {% endif %}
            </a>
          </div>
        </div>
        <!--end of user image and name-->

      <a href="{{ url_for('post.post', post_id=post.id) }}">
      <!--article content-->        
        <div class="media-body mt-3 text-break"> 
          <!--title-->
          <h5>{{ post.title }}</h5>
          <!--content-->
          <p>{{ post.content }}</p>
        </div>
      <!--end of article content-->


        <!--comment and rate-->
        <div class="d-flex">
          <!--comment-->
          <div class="me-auto">
            <button type="button" class="btn btn-icon">
              <i class="fas fa-ellipsis-h icon-left"></i>
              <span>0 Comments</span>
            </button>
          </div>
      </a>
          <!--rate-->
          <div class="ms-auto">
            <a class="btn btn-icon me-2" href="{{ url_for('post.like_post', post_id=post.id, home='True') }}">
              {% if current_user not in post.liker %}
              <i class="fas fa-arrow-up icon-left"></i>
              <span>{{ post.liker|length }}</span>
              {% else %} <!-- if user likes -->
              <i class="fas fa-arrow-up icon-left text-primary"></i>
              <span class="text-primary">{{ post.liker|length }}</span>
              {% endif %}
            </a>
            <a class="btn btn-icon me-2" href="{{ url_for('post.dislike_post', post_id=post.id, home='True') }}">
              {% if current_user not in post.disliker %}
              <i class="fas fa-arrow-down icon-left"></i>
              <span>{{ post.disliker|length }}</span>
              {% else %} <!-- if user dislikes -->
              <i class="fas fa-arrow-down icon-left text-primary"></i>
              <span class="text-primary">{{ post.disliker|length }}</span>
              {% endif %}
            </a>
          </div>
        </div>
        <!--end of comment and rate-->
		</article>
	{% endfor %}
	</div>
{% endblock %}
