{% extends "layout.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header_class %}
<!-- classname for small header -->
	header
{% endblock %}

{% block content %}
	<div class="content-container mx-auto p-5 shadow-sm">
	{% for post in posts %}
		<article class="media content-section p-5 mb-4 rounded shadow-sm">

			<!--user image and name-->
      <div class="d-flex align-items-center">
        <!--image-->
        <div class="me-2">
          <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='default.jpg') }}" alt="Generic placeholder image">
        </div>
        <!--name and date-->
        <div>
          <h3 class="mt-0">{{ post.author.username }}</h3>
          <small>{{ post.created_at.strftime("%Y-%m-%d %H:%M") }}</small>
        </div>
        <!--save-->
        <div class="ms-auto">
          <button type="button" class="btn btn-icon">
            <i class="fas fa-star icon-left"></i>
            <span>Save</span>
          </button>
        </div>
      </div>
      <!--end of user image and name-->


      <!--article content-->        
      <div class="media-body mt-3"> 
        <!--title-->
        <h5>{{ post.title }}</h5>
        <!--content-->
        <p>{{ post.content }}</p>
      </div>
      <!--end of article content-->


      <!--comment and rate-->
      <div class="d-flex">
        <!--comment-->
        <div class="me-auto">
          <button type="button" class="btn btn-icon">
            <i class="fas fa-ellipsis-h icon-left"></i>
            <span>0 Comments</span>
          </button>
        </div>
        <!--rate-->
        <div>
          <button type="button" class="btn btn-icon me-2">
            <i class="fas fa-arrow-up icon-left"></i>
            <span>0</span>
          </button>
          <button type="button" class="btn btn-icon">
            <i class="fas fa-arrow-down icon-left"></i>
            <span>0</span>
          </button>
        </div>
      </div>
      <!--end of comment and rate-->
		</article>
	{% endfor %}
	</div>
{% endblock %}
