{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
	<!-- Contents -->
	<div class="login-container shadow-sm">
	    <h1 class="text-center">Welcome!</h1>
	    <p class="title text-center">Please log in to continue</p>
	    <div class="input-container mt-4">
	    	<!-- ST: added id to form for testing -->
	        <form id="loginForm" action="" method="POST">
	        	{{ form.hidden_tag() }} 	<!-- IMPORTANT FOR SECURITY -->
	        	<fieldset class="form-group">
	        		<!-- USERNAME -->
		            <div class="input-group mb-3">
		                <span class="input-group-text"><i class="fas fa-user"></i></span>
		                <!-- displaying error for invalid input -->
						{% if form.username.errors %}
							{{ form.username(class="form-control is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control input-field", placeholder="Username") }}
						{% endif %}
						<!-- displaying error for invalid input -->
		                <br>
		            </div>
		            <!-- PASSWORD -->
		            <div class="input-group mb-2">
		                <span class="input-group-text"><i class="fas fa-key"></i></span>
		                <!-- displaying error for invalid input -->
						{% if form.password.errors %}
							{{ form.password(class="form-control is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class="form-control input-field", placeholder="Password") }}
						{% endif %}
						<!-- displaying error for invalid input -->
		            </div>
		            <div class="form-check mb-2">
			        	{{ form.remember(class="form-check-input") }}
			        	{{ form.remember.label(class="form-check-label") }}
		            </div>
	        	</fieldset>

	        	<div class="form-group">
					{{ form.submit(class="btn btn-grad") }}
	            </div>
	        </form>
	    </div>
	    
	    <div class="mt-3">
	        <div class="d-flex justify-content-center">
	            <small>Don't have an account?&nbsp</small><a class="highlight" href="{{ url_for('user.register') }}" class="ml-2">Sign Up</a>
	        </div>

	    </div>
	</div>
{% endblock %}