{% extends "layout.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header_class %}
<!-- classname for small header -->
	header
{% endblock %}
{% block content %}
	<div class="content-container mx-auto p-5 shadow-sm">
    <!--create comment-->
    <div class="media px-5 py-2 my-4 rounded shadow-sm">
      <!--header-->
      <div>
        <h4 class="text-center w-100">New Comment</h4>
      </div>
      <!--body-->
      <div class="d-flex my-4">
        <!--image-->
        <div class="me-2">
          <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="images/seulgi.jpg" alt="Generic placeholder image">
        </div>
        <!--form-->
        <div class="w-100">
          <form>
            <textarea class="form-control comment rounded p-2 mb-4" placeholder="Tell us your thoughts..."></textarea>
            <button type="button" name="button" class="btn btn-grad mb-1">Comment</button>
          </form>
        </div>
      </div>
    </div>
	</div>
{% endblock %}
