{% extends "layout.html" %}
{% block header_class %}
<!-- classname for small header -->
  header
{% endblock %}

{% block content %}
<div>
	<div class="media">
    	<img class="rounded-circle account-img" src="{{ image_file }}">
    	<div class="media-body">
    	  	<h2 class="account-heading">{{ current_user.username }}</h2>
      		<p class="text-secondary">{{ current_user.email }}</p>
    	</div>
  	</div>
  <!--------------------- MODAL ------------------------->
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateProfile">
    Update Profile
  </button>

  <!-- Modal -->
  {% if not error %}
  <div class="modal fade" id="updateProfile" tabindex="-1" aria-labelledby="updateProfileLabel" aria-hidden="true">
  {% else %}
  <div class="modal" id="updateProfile" tabindex="-1" aria-labelledby="updateProfileLabel" aria-hidden="true">
 	{% endif %}
    <form action="" method="POST" enctype="multipart/form-data"> <!-- enctype... allows form to pass image data properly -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateProfileLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                <div class="form-group">
                  {{ form.username.label(class="form-control-label") }}
                  <!-- displaying error for invalid input -->
                  {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.username(class="form-control form-control") }}
                  {% endif %}
                  <!-- displaying error for invalid input -->
                  
                </div>
                <div class="form-group">
                  {{ form.email.label(class="form-control-label") }}
                  <!-- displaying error for invalid input -->
                  {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.email(class="form-control form-control") }}
                  {% endif %}
                  <!-- displaying error for invalid input -->
                </div>
                <label for="password">Password</label>
                <a data-bs-toggle="collapse" href="#change-password" role="button" aria-expanded="false" aria-controls="change-password">Change</a>
                {% if passwordError %}
                <div class="collapse show" id="change-password">
                {% else %}
                <div class="collapse" id="change-password">
                {% endif %}
                	<div class="form-group">
                	  <!-- displaying error for invalid input -->
                	  {% if form.password.errors %}
                	    {{ form.password(class="form-control is-invalid") }}
                	    <div class="invalid-feedback">
                	      {% for error in form.password.errors %}
                	        <span>{{ error }}</span>
                	      {% endfor %}
                	    </div>
                	  {% else %}
                	    {{ form.password(class="form-control form-control") }}
                	  {% endif %}
                	  <!-- displaying error for invalid input -->
                	</div>
                	<div class="form-group">
                	  <!-- displaying error for invalid input -->
                	  {% if form.confirm_password.errors %}
                	    {{ form.confirm_password(class="form-control is-invalid") }}
                	    <div class="invalid-feedback">
                	      {% for error in form.confirm_password.errors %}
                	        <span>{{ error }}</span>
                	      {% endfor %}
                	    </div>
                	  {% else %}
                	    {{ form.confirm_password(class="form-control form-control") }}
                	  {% endif %}
                	  <!-- displaying error for invalid input -->
                	</div>
                </div>
                <div class="form-group">
                	{{ form.picture.label() }}<br>
                	{{ form.picture(class="form-control-file") }}
                	{% if form.picture.errors %}
                		{% for error in form.picture.errors %}
                			<span class="text-danger">{{ error }}</span><br>
                		{% endfor %}
                	{% endif %}
                </div>
              </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         	{{ form.submit(class="btn btn-outline-info") }}
        </div>
      </div>
    </div>
    </form>
  </div>
<!------------------ END OF MODAL ------------------->

{% for post in user_posts %}
<a href="{{ url_for('post.post', post_id=post.id) }}">
<article class="media content-section p-5 mb-4 rounded shadow-sm">
			<!--user image and name-->
      <div class="d-flex align-items-center">
        <!--image-->
        <div class="me-2">
        	<!-- replace all img instances with this line -->
          <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='profile_pics/' + current_user.profile_picture) }}" alt="Generic placeholder image"> 
        </div>
        <!--name and date-->
        <div>
          <h3 class="mt-0">{{ post.author.username }}</h3>
          <small>{{ post.created_at.strftime("%Y-%m-%d %H:%M") }}</small>
        </div>
        <!--save-->
        <div class="ms-auto">
          <button type="button" class="btn btn-icon">
            <i class="fas fa-star icon-left"></i>
            <span>Save</span>
          </button>
        </div>
      </div>
      <!--end of user image and name-->


      <!--article content-->        
      <div class="media-body mt-3"> 
        <!--title-->
        <h5>{{ post.title }}</h5>
        <!--content-->
        <p>{{ post.content }}</p>
      </div>
      <!--end of article content-->

     
      <!------ for printing the tags of the post --------->
      {% for topics in post.topic %}
      <span>{{ topics.topic }}</span>
      {% endfor %}


      <!--comment and rate-->
      <div class="d-flex">
        <!--comment-->
        <div class="me-auto">
          <button type="button" class="btn btn-icon">
            <i class="fas fa-ellipsis-h icon-left"></i>
            <span>0 Comments</span>
          </button>
        </div>
        <!--rate-->
        <div>
          <button type="button" class="btn btn-icon me-2">
            <i class="fas fa-arrow-up icon-left"></i>
            <span>0</span>
          </button>
          <button type="button" class="btn btn-icon">
            <i class="fas fa-arrow-down icon-left"></i>
            <span>0</span>
          </button>
        </div>
      </div>
      <!--end of comment and rate-->
</article>
</a>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
{% if error %}
var updateProfile = new bootstrap.Modal(document.getElementById('updateProfile'), {})
updateProfile.toggle()
{% endif %}
</script>
{% endblock %}
