{% extends "layout.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header_class %}
<!-- classname for small header -->
	header
{% endblock %}
{% block content %}
	<div class="content-container mx-auto p-5 shadow-sm">

	{% for post in posts %}
		<article id="{{ post.id }}" class="media content-section p-5 mb-4 rounded shadow-sm">
        <!--user image and name-->
        <div class="d-flex align-items-center">
          <!--image-->
          <div class="me-2">
            <img class="post-profile align-self-start mr-3 rounded-circle shadow-sm" src="{{ url_for('static', filename='profile_pics/' + post.author.profile_picture) }}" alt="Generic placeholder image">
          </div>
          <!--name and date-->
          <div>
            <h3 class="mt-0">{{ post.author.username }}</h3>
            <small>{{ post.created_at.strftime("%Y-%m-%d %H:%M") }}</small>
          </div>
          <!--save-->
          <div class="ms-auto">
            <a class="btn btn-icon" href="{{ url_for('post.remove_saved', post_id=post.id, home='Saves') }}">
              <i class="fas fa-times icon-left"></i>
              <span>Remove</span>
            </a>
          </div>
        </div>
        <!--end of user image and name-->

      <a href="{{ url_for('post.post', post_id=post.id) }}">
      <!--article content-->        
        <div class="media-body mt-3 text-break"> 
          <!--title-->
          <h5>{{ post.title }}</h5>
          <!--content-->
          <p>{{ post.content }}</p>
        </div>
      <!--end of article content-->

      <!------ for printing the tags of the post --------->
      {% for topics in post.topic %}
      <button class="btn btn-sm btn-light mb-1" disabled>{{ topics.topic }}</button>
      {% endfor %}


        <!--comment and rate-->
        <div class="d-flex">
          <!--comment-->
          <div class="me-auto">
            <button type="button" class="btn btn-icon">
              <i class="fas fa-ellipsis-h icon-left"></i>
              <span>0 Comments</span>
            </button>
          </div>
          <!--rate-->
          <div class="ms-auto">
            <a class="btn btn-icon me-2" href="{{ url_for('post.like_post', post_id=post.id, home='Saves') }}">
            {% if current_user not in post.liker %}
            <i class="fas fa-arrow-up icon-left"></i>
            <span>{{ post.liker|length }}</span>
            {% else %} <!-- if user likes -->
            <i class="fas fa-arrow-up icon-left text-primary"></i>
            <span class="text-primary">{{ post.liker|length }}</span>
            {% endif %}
            </a>
            <a class="btn btn-icon me-2" href="{{ url_for('post.dislike_post', post_id=post.id, home='Saves') }}">
              {% if current_user not in post.disliker %}
              <i class="fas fa-arrow-down icon-left"></i>
              <span>{{ post.disliker|length }}</span>
              {% else %} <!-- if user dislikes -->
              <i class="fas fa-arrow-down icon-left text-primary"></i>
              <span class="text-primary">{{ post.disliker|length }}</span>
              {% endif %}
            </a>
          </div>
        </div>
        <!--end of comment and rate-->
      </a>
		</article>
	{% endfor %}
	</div>
{% endblock %}
